
.loginnn{
margin-top: 7%;
margin-left: 20%;
	width: 400px;
	height: 250px;
	position: center;
	top: 20px;
	bottom: 15px;
	left: 10px;
	right: 20px;
	background-color:red;
}
.loginnn{color:yellow;font-size:20pt; background-color:green}
#login{padding:40px;}


bodyy{color:black; background-color:green;}
